<nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="/">
        DSTV Analytics
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a href="{% url 'channels_index' %}" class="navbar-item">
          Browse Channels
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Movies
          </a>
  
          <div class="navbar-dropdown">
            <a href="{% url 'movies_index' %}" class="navbar-item">
              All Movies
            </a>
            <a href="{% url 'movies_years' %}" class="navbar-item">
              Movies by year
            </a>
            <a  href="{% url 'movies_repeats' %}" class="navbar-item">
              Movies by repeats
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <a href="#" class="navbar-item">
            About
          </a>
      </div>
    </div>
    </div>  
  </nav>